<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    
    li {
font-size: 2rem;
width: 300px;
margin: 4px;
padding: 4px;
list-style: none
}
.midlaner {background-color: #eeeeee}
.toplaner {background-color: #ffea00}
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>base page</title>

  </head>
  <body>
    <h2>El falso h2 simulando un navBar (obvio desde layout en HB)</h2>
  {{{body}}}
    <h4>El falso h4 simulando un footer (obvio desde layout en HB)</h4>
  </body>
</html>
